<section class="parent">
    <div>
        <img (click)="back()" class="pointer arrow-back" src="../../../../assets/images/back.svg" alt="" srcset="">
    </div>
    <div class="list-box">
        <p class="list-title">List of Books</p>
        <ng-container *ngIf="!isLoading">
            <ngx-skeleton-loader class="mt-10" count="7" [theme]="{height: '50px'}" appearance="line"></ngx-skeleton-loader>
        </ng-container>

        <ng-container *ngIf="isLoading">
            <div *ngFor="let book of books">
                <div class="book-list">
                    <div class="list-text">{{book.id}}. {{book.name}}</div>
                    <div class="split-Icon">
                        <mat-icon class="edit-con pointer" (click)="editBook(book)">create</mat-icon>
                        <mat-icon class="trash-con pointer shift-20" (click)="deleteBook(book)">delete_outline</mat-icon>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div>
        <mat-icon class="addicon" (click)="addNewBook()">add_circle</mat-icon>
    </div>
</section>