<section class="parent">
    <div>
        <p class="home-text">Book Libary
            <br/> Application</p>
    </div>
    <div>
        <p class="home-subtext">Check some amazing books in the library, ranging from all books, <br/> Favourite books, to our books collections</p>
    </div>
    <div class="butn-group">
        <button type="button" class="butn" routerLink="/books/favourite-books">Favourite</button>
        <button type="button" class="butn" routerLink="/books/book-list">Books</button>
        <button type="button" class="butn" routerLink="/category/book-category">Collections</button>
    </div>
</section>