.alt-text{
    font-size: 17px;
}

.butn{
    font-size: 15px;
    background: #001E6C;
    color: #FFF;
    padding: 10px 14px;
    border-radius: 8px;
    border: 0px;
}

.butn:hover{
    color: #FFAA4C;
}